@model Eshop.ViewModels.OfferDetailsViewModel
@using Eshop.Models



@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 0;
}



    <div class="modal fade modal-fullscreen force-fullscreen" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="carouselExampleIndicators2" class="carousel slide carousel-fit" data-ride="carousel">
                        <ol class="carousel-indicators">
                            @for (int i = 0; i < Model.Offer.GalleryModel.ImageModel.Count(); i++)
                            {
                                <li data-target="#carouselExampleIndicators2" data-slide-to="@i" class="@(i==0 ? "active" : "")"></li>
                            }
                        </ol>
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Offer.GalleryModel.ImageModel.Count(); i++)
                            {
                                <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                                    <img class="d-block w-100" src="@("/Images/" + Model.Offer.GalleryModel.ImageModel[i].Name)" alt="First slide">
                                </div>
                            }
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="light">
        <header class="title">
            <h2 class="table-title-font breaking-wordDB">@Model.Offer.Title</h2>
        </header>
        <hr />
        <div class="container">
            <div class="row table-row">
                <div class="col-sm-6 hidden-xs image-detail-margin">
                    <div class="section-content">
                        <div id="carouselExampleIndicators" class="carousel slide carousel-fit" data-ride="carousel">
                            <ol class="carousel-indicators">
                                @for (int i = 0; i < Model.Offer.GalleryModel.ImageModel.Count(); i++)
                                {
                                    <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="@(i==0 ? "active" : "")"></li>
                                }
                            </ol>
                            <div class="carousel-inner">
                                @for (int i = 0; i < Model.Offer.GalleryModel.ImageModel.Count(); i++)
                                {
                                    <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                                        <img data-toggle="modal" data-target="#myModal" data-local="#carouselExampleIndicators" class="d-block details-image-size" src="@("/Images/"+Model.Offer.GalleryModel.ImageModel[i].Name)" alt="First slide">
                                    </div>
                                }
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="section-content">
                        <h4>Sprzedający</h4>
                        <a asp-action="UserDetailsOffer" asp-controller="UserDetails" asp-route-offerId="@Model.Offer.Id" asp-route-offerOwnerId="@Model.Offer.UserId"><p class="breaking-wordDB">@Model.Offer.User.NickName</p></a>
                        <h4>Cena</h4>
                        <p style="text-align: left" class="price">@Model.Offer.Price PLN</p>
                        <h4>Data Utworzenia</h4>
                        <p class="breaking-wordDB">@Model.Offer.CreateDate.ToString("g")</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="section-content">
                        <h4>Kategoria</h4>
                        <p>@Model.Offer.Category</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <div class="container">
        <h4>Opis</h4>
        <p class="breaking-wordDB">@Model.Offer.Content</p>
    </div>
    <div class="details-buttons">
        @if (Model.Offer.UserId == Model.UserId)
        {
            <a asp-action="Delete" asp-route-id="@Model.Offer.Id" class="btn btn-danger">Usuń ogłoszenie</a> <text>|</text>
        }

        @if (Model.Offer.UserId != Model.UserId && Model.InCart != true)
        {
            <a asp-action="Buy" asp-route-id="@Model.Offer.Id" class="btn btn-success">Kup</a> <text>|</text>
            <a asp-action="AddToCart" asp-controller="ShoppingCarts" asp-route-id="@Model.Offer.Id" class="btn btn-dark">Dodaj do koszyka</a> <text>|</text>
        }
        else if (Model.Offer.UserId != Model.UserId)
        {
            <a asp-action="Buy" asp-route-id="@Model.Offer.Id" class="btn btn-success">Kup</a> <text>|</text>
            <a asp-action="Delete" asp-controller="ShoppingCarts" asp-route-id="@Model.Offer.Id" class="btn btn-danger">Usuń z koszyka</a> <text>|</text>
        }
        <a asp-action="Index" class="btn btn-dark">Powrot do listy</a>
    </div>
    <hr class="solid-black" />
    <h3 class="container">Inne ogłoszenia użytkownika @Model.Offer.User.NickName</h3>
    @if (Model.OtherOffers.Count != 0)
    {
        <div class="container cta-100 ">
            <div class="container">
                <div class="row blog">
                    <div class="col-md-12">
                        <div class="row">
                            @foreach (var item in Model.OtherOffers)
                            {
                                if (index > 2)
                                {
                                    break;
                                }
                                <div class="col-md-4">
                                    <div data-href="@item.Id" class="item-box-blog">
                                        <div class="image-column-others">
                                            <div class="item-box-blog-date bg-blue-ui white"> <span class="mon">Wystawione od @item.CreateDate.ToString("d")</span> </div>
                                            <img class="image-offer" alt="" src="@("/Images/" + item.GalleryModel.ImageModel[0].Name)">
                                        </div>
                                        <div class="item-box-blog-body">
                                            <div class="item-box-blog-text">
                                                <h5 class="carousel-index-elip">@item.Title</h5>
                                            </div>
                                            <div>
                                                <p class="price">@item.Price PLN</p>
                                            </div>
                                            <div class="item-box-blog-text">
                                                <p class="other-offers-content">@item.Content</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <a class="container">Ten użytkownik nie posiada innych ogłoszeń.</a>
    }
