@model Eshop.ViewModels.CommentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="table-title-font">O Sprzedającym</h3>

<hr>

<div class="container">
    <div style="flex-wrap: nowrap;" class="row table-row">
        <div class="col-sm-6">
            <p>Nazwa: <span class="font-w600">@Model.User.NickName</span></p>
            <p>Email: <span class="font-w600">@Model.User.Email</span></p>
            <p>Z nami od <span class="font-w600">@Model.User.CreateDate.ToString("d")</span></p>
        </div>
        <div class="col-sm-6 details-right-align">
            <p>Ocena ogólna: <span class="font-w600">@Model.Avg </span><span>/5 </span> <i class="fa fa-star"></i></p>
            <p>Ilość komentarzy: <span class="font-w600">@Model.ComCount</span></p>
        </div>
    </div>
    @foreach (var comment in Model.Comments)
    {
        <div class="comment-row-container comment-shadow">
            <div class="name-container">
                <p class="name font-w600">@comment.NickName</p>
            </div>
            <div class="comment-container">
                <p class="comment comment-content-w">@comment.Com</p>
            </div>
            <div class="rate-container">
                <p class="rate">Ocena: @comment.Rate/5 <i class="fa fa-star"></i></p>
            </div>
        </div>
        if (comment.Reply != null)
        {
            <div class="reply-row-container comment-shadow">
                <div class="name-container">
                    <p class="name"><i class="fas fa-level-up-alt fa-flip-horizontal"></i> Odpowiedź <span class="font-w600"> @comment.Reply.NickName </span></p>
                </div>
                <div class="comment-container">
                    <p class="comment comment-content-w">@comment.Reply.Com</p>
                </div>
            </div>
        }
        else
        {
            <div class="commentbox-padding">
                <div class="commentbox">
                    <form enctype="multipart/form-data" asp-action="AddReply" asp-controller="UserDetails">
                        <div class="form-group">
                            <input type="hidden" asp-for="Reply.CommentId" value="@comment.Id" />
                            <label class="control-label"><span class="font-w600">Odpowiedz Użytkownikowi: </span>@comment.NickName</label>
                            <textarea class="form-control" rows="3" asp-for="Reply.Com"></textarea>
                        </div>
                        <div class="form-group details-right-align">
                            <input type="submit" value="Opublikuj" class="btn btn-dark" />
                        </div>
                    </form>
                </div>
            </div>
        }
    }
</div>