@model Eshop.Models.ReceivedMessageModel


<div class="row">
    <div class="col">
        <h3 class="title-font">Otrzymana Wiadomość</h3>
        <p><span class="font-w600">Od:</span> @Model.SenderName</p>
        <p><span class="font-w600">Odnosnie ogłoszenia:</span> @Model.OfferTitle</p>
        <p><span class="font-w600">Tytuł:</span> @Model.MessageTitle</p>
        <p class="font-w600">Wiadomość:</p>
        <textarea readonly rows="5" class="form-control">@Model.MessageContent</textarea>
    </div>
</div>

    <hr style="color:black; border-top:solid 1px;" />
    <h3>Odpowiedź</h3>
    <div class="row">
        <div class="col">
            <form enctype="multipart/form-data" asp-action="Reply">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="UserId" value="@Model.ReplyId" />
                <input type="hidden" asp-for="OfferTitle" value="@Model.OfferTitle" />
                <div class="form-group">
                    <label asp-for="MessageTitle" class="control-label">Tytuł:</label>
                    <input asp-for="MessageTitle" class="form-control" />
                    <span asp-validation-for="MessageTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MessageContent" class="control-label">Wiadomość:</label>
                    <textarea class="form-control" rows="5" asp-for="MessageContent"></textarea>
                    <span asp-validation-for="MessageContent" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Wyślij Wiadomość" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>
