@model Eshop.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="title-font">O Sprzedającym</h3>

<hr>

<div class="container">
    <div class="user-info-row">
        <div class="col-sm-6">
            <p>Nazwa: <span class="font-w600">@Model.User.NickName</span></p>
            <p>Email: <span class="font-w600">@Model.User.Email</span></p>
            <p>Z nami od <span class="font-w600">@Model.User.CreateDate.ToString("d")</span></p>
        </div>
        <div class="col-sm-6 details-right-align">
            <p>Ocena ogólna: <span class="font-w600">@Model.Avg</span><span>/5 </span><i class="fa fa-star"></i></p>
            <p>Ilość komentarzy: <span class="font-w600">@Model.ComCount</span></p>
        </div>
    </div>
    @if (Model.OfferBought.UserWhoBought == Model.LoggedUser.Id && Model.OfferBought.Comment == null)
     {
        <div class="commentbox-padding">
            <div class="commentbox">
                <form enctype="multipart/form-data" asp-action="AddCom" asp-controller="Comments">
                    <div class="form-group">
                        <input type="hidden" asp-for="CreateCommentDTO.ReceiverUserId" value="@Model.OfferBought.UserId" />
                        <input type="hidden" asp-for="CreateCommentDTO.OfferEndedId" value="@Model.OfferBought.Id" />
                        <label class="control-label">Napisz Komentarz</label>
                        <textarea class="form-control text-area-resize" rows="5" asp-for="CreateCommentDTO.Com"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ocena</label>
                        <select asp-for="CreateCommentDTO.Rate" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="form-group details-right-align">
                        <input type="submit" value="Opublikuj" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>
     }
    @foreach (var comment in Model.Comments)
     {
        <div class="comment-row-container comment-shadow">
            <div class="name-container">
                <p class="name font-w600">@comment.NickName</p>
            </div>
            <div class="comment-container">
                <p class="comment comment-content-w">@comment.Com</p>
            </div>
            <div class="rate-container">
                <p class="rate">Ocena: @comment.Rate/5 <i class="fa fa-star"></i></p>
            </div>
        </div>
        if (comment.Reply != null)
        {
            <div class="reply-row-container comment-shadow">
                <div class="name-container">
                    <p class="name"><i class="fas fa-level-up-alt fa-flip-horizontal"></i> Odpowiedź <span class="font-w600"> @comment.Reply.NickName </span></p>
                </div>
                <div class="comment-container">
                    <p class="comment comment-content-w">@comment.Reply.Com</p>
                </div>
            </div>
        }
     }
</div>
