@model IEnumerable<Eshop.Models.OfferEndedModel>
@{
    ViewData["Title"] = "BoughtItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 class="title-font">Kupione</h1>
@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <div class="container-bg-radius">
            <div class="offer">
                <div class="row-offer">
                    <div class=" image-column">
                        <img class="image-offer" src="@("/Images/"+item.Thumbnail)" asp-append-version="true" />
                    </div>
                    <div class="description-column">
                        <p class="table-title-w table-title-font">@item.Title</p>
                        <p class="table-content-w breaking-wordDB">@item.Content</p>
                    </div>
                    <div class="price-column">
                        <text class="price">@item.Price PLN</text>
                    </div>
                </div>    
            </div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <hr />
                        <h4>Dane które podano do wysyłki sprzedającemu: <a asp-action="Index" asp-controller="Comments" asp-route-id="@item.Id">@item.User.NickName</a></h4>
                        <p class="font-w600">Imię: <span class="font-w400">@item.ShippingInformation.Name</span></p>
                        <p class="font-w600">Nazwisko: <span class="font-w400">@item.ShippingInformation.SecondName</span></p>
                        <p class="font-w600">Email: <span class="font-w400">@item.ShippingInformation.Email</span></p>
                        <p class="font-w600">Adres: <span class="font-w400">@item.ShippingInformation.Address</span></p>
                        <p class="font-w600">Miasto: <span class="font-w400">@item.ShippingInformation.City</span></p>
                        <p class="font-w600">Kod pocztowy: <span class="font-w400">@item.ShippingInformation.PostCode</span></p>
                        <p class="font-w600">Numer telefonu: <span class="font-w400">@item.ShippingInformation.PhoneNumber</span></p>
                        <p class="font-w600">Kupiono o godzinie: <span class="font-w400">@item.SoldDate.ToString("g")</span></p>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <hr />
    <a>Nie posiadasz jeszcze kupionych przedmiotów.</a>
}
