@model IEnumerable<Eshop.Models.SoldPostModel>
@{
    ViewData["Title"] = "SoldItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1 style="padding-bottom: 10px; padding-top: 10px;">Sprzedane</h1>
@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
    <div class="container-bg-radius">
        <table class="table">
            <tbody>
                <tr data-href="posts/details/@item.Id">
                    <td style="border-top:none">
                        <img class="image-size" src="@("/Images/" + item.Thumbnail)" asp-append-version="true" alt="First slide">
                    </td>
                    <td style="border-top:none">
                        <p class="table-title-w table-title-font"> @Html.DisplayFor(modelItem => item.Title)</p>
                        <p class="table-content-w breaking-wordDB">@Html.DisplayFor(modelItem => item.Content)</p>
                    </td>
                    <td>
                    </td>
                    <td style="border-top:none" class="price">
                        @Html.DisplayFor(modelItem => item.Price) <text> PLN</text>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr />
                    <h4>Dane do wysyłki</h4>
                    <p style="font-weight:600">Imię: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.Name)</a></p>
                    <p style="font-weight:600">Nazwisko: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.SecondName)</a></p>
                    <p style="font-weight:600">Email: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.Email)</a></p>
                    <p style="font-weight:600">Adres: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.Address)</a></p>
                    <p style="font-weight:600">Miasto: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.City)</a></p>
                    <p style="font-weight:600">Kod pocztowy: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.PostCode)</a></p>
                    <p style="font-weight:600">Numer telefonu: <a style="font-weight:400">@Html.DisplayFor(modelItem => item.ShippingInformation.PhoneNumber)</a></p>
                    <p style="font-weight:600">Sprzedano o godzinie: <a style="font-weight:400">@item.SoldDate.ToString("g")</a></p>
                </div>
            </div>
        </div>
    </div>
    }
}
else
{
    <hr />
    <a>Nie posiadasz jeszcze sprzedanych ofert.</a>
}